<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="row">
      <%- include('./partials/sidebar.ejs') %>
      <div class="col rm-padding">
        <%- include('./partials/navbar.ejs') %>
        <div class="row">
          <div class="sidebar-collapse px-0">
            <h6 class="px-4 sidebar-collapse-menu text-secondary fw-bold">
              CARS
            </h6>
            <h6
              class="px-4 sidebar-collapse-item d-flex align-items-center fw-bold"
            >
              List Car
            </h6>
          </div>
          <div class="col" style="padding: 0 !important">
            <div class="container">
              <div id="notif"></div>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#" class="text-dark text-decoration-none fw-bold"
                      >Cars</a
                    >
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    List Cars
                  </li>
                </ol>
              </nav>
              <div class="d-flex flex-row justify-content-between mt-4">
                <h5 class="fw-bold">List Cars</h5>
                <a href="/addcar" class="btn btn-primary me-3">
                  <img src="./images/fi_plus.svg" alt="" />
                  Add New Car
                </a>
              </div>
              <div class="row my-3">
                <div class="col">
                  <button class="btn btn-outline-primary me-2">All</button>
                  <button class="btn btn-outline-primary me-2">Small</button>
                  <button class="btn btn-outline-primary me-2">Medium</button>
                  <button class="btn btn-outline-primary">Large</button>
                </div>
              </div>
              <div class="row">
                <% data.map((car)=> { %>
                <div
                  class="card card-listcar mt-3 p-3 mx-3"
                  style="width: 18rem"
                >
                  <img
                    src="./images/<%=car.foto%>"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <p class="card-title"><%=car.nama%></p>
                    <h5>Rp. <%=car.sewa%></h5>
                    <p class="card-text">
                      <img src="./images/fi_clock.svg" alt="" />
                      Updated at <%=car.updatedAt%>
                    </p>
                    <div class="d-flex flex-row justify-content-between">
                      <button
                        class="btn btn-outline-danger btn-deledit mx-2"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        onclick="let cared = '<%=car.id%>'; document.getElementById('delform').action = '/delete/' + cared;"
                      >
                        <img src="./images/fi_trash-2.svg" alt="" /> Delete
                      </button>
                      <form action="/update/<%=car.id%>" method="post">
                        <button
                          type="submit"
                          class="btn btn-success btn-deledit"
                        >
                          <img src="./images/fi_edit.svg" alt="" /> Edit
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
                <div
                  class="modal fade"
                  id="deleteModal"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog text-center">
                    <div class="modal-content">
                      <div class="modal-body">
                        <img src="/images/imgcar.png" alt="" />
                        <h5 class="modal-title" id="exampleModalLabel">
                          <strong>Menghapus Data Mobil</strong>
                        </h5>
                        <p>
                          Setelah dihapus, data mobil tidak dapat dikembalikan.
                          Yakin ingin menghapus?
                        </p>
                        <div class="d-flex flex-row justify-content-center">
                          <form action="" method="post" id="delform">
                            <button
                              type="submit"
                              class="btn btn-lg btn-primary me-2"
                            >
                              Ya
                            </button>
                          </form>
                          <button
                            type="button"
                            class="btn btn-lg btn-outline-primary"
                            data-bs-dismiss="modal"
                          >
                            Tidak
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- The actual snackbar -->
    <div id="snackbar">Some text some message..</div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script>
      let urlParams = new URLSearchParams(window.location.search);
      console.log(urlParams.toString());
      let params = urlParams.toString();

      if (params == "msg=add") {
        showToast("Data Berhasil Disimpan.");
      }

      if (params == "msg=delete") {
        showToast("Data Berhasil Dihapus.");
      }

      if (params == "msg=update") {
        showToast("Data Berhasil Diedit.");
      }

      function showToast(message) {
        let x = document.getElementById("snackbar");
        x.innerHTML = message;

        x.className = "show";

        setTimeout(function () {
          x.className = x.className.replace("show", "");
        }, 3000);
      }
    </script>
  </body>
</html>
